// --------------------
// Definition of variables
$primary: #32c3ff;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fdf2e9;
  background-image: linear-gradient(to bottom, #14343f, #3a8186 100vh);
  min-height: 100vh;
}

h2 {
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// remindful logo css and transitions

// navbar animation

.App-logo {
  position: absolute;
  mix-blend-mode: lighten;
  top: 70%;
  left: 50%;
  margin-top: -470px;
  margin-left: -80px;
  animation: pulse 3s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  position: absolute;
  width: 100%;
  margin-top: 900px;
  height: 500px;
  background-color: white;
  color: black;
}

.navbar {
  animation-delay: 2s;
  animation: mymove 3s;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mymove {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// slider transition

.forms {
  padding: 100px 200px 100px 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.allMemories {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logout {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align:center;
  line-height:2em;
  padding-top:70px;
  letter-spacing: .5em;
  text-shadow: 0.5em 0.5em 1em #9cb8b3;
}

div.show-image {
  position: relative;
  float:left;
  margin:5px;
}

div.show-image:hover img{
  // opacity:0.8;
  transform: scale(1.1);
}
div.show-image:hover input {
  display: block;
}
div.show-image input {
  position:absolute;
  display:none;
  opacity: 0.8;
}

div.show-image input.delete {
  background-color: transparent;
  border-color: darkred;
  color: darkred;
  text-shadow: 0.6px 0.6px red;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 2px;
  top:0;
  left:86%;
}