// --------------------
// Definition of variables
$primary: #32c3ff;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fdf2e9;
  background-image: linear-gradient(to bottom, #14343f, #3a8186 100vh);
  min-height: 100vh;
}

h2 {
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// remindful logo css and transitions

// navbar animation

.App-logo {
  position: absolute;
  mix-blend-mode: lighten;
  top: 70%;
  left: 50%;
  margin-top: -470px;
  margin-left: -80px;
  animation: pulse 3s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content {
  position: absolute;
  width: 100%;
  margin-top: 900px;
  height: 500px;
  background-color: white;
  color: black;
}

.navbar {
  animation-delay: 2s;
  animation: mymove 3s;
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mymove {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

// --------------------
// Style for Home component
.Home {
  p {
    font-size: 1.2em;
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// slider transition

.forms {
  padding: 100px 200px 100px 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.memoryGallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logout {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  line-height: 2em;
  padding-top: 70px;
  letter-spacing: 0.5em;
  text-shadow: 0.5em 0.5em 1em #9cb8b3;
}




#memImg {
  cursor: pointer;
  transition: 0.3s;
}

#memImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

div.show-image {
  position: relative;
  float:left;
  margin:5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.show-image:hover img{
  // opacity:0.8;
  transform: scale(1.1);
}
div.show-image:hover input {
  display: block;
}
div.show-image input {
  position:absolute;
  display:none;
  opacity: 0.8;
}

div.show-image input.delete {
  background-color: transparent;
  border-color: darkred;
  color: darkred;
  text-shadow: 0.6px 0.6px lightcoral;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 2px;
  top:0;
  left:86%;
}

.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.068);
}

.modal .modal_content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 2px;
  width: 60%;
  height: auto;
  max-width: 100vw;
}

.modal .modal_content > h2 {
  font-size: 28px;
  font-weight: 200;
  margin: 20px 0 40px;
  text-align: center;
}

.modal .modal_content .buttons_wrapper {
  padding: 20px;
}

.modal .close_modal {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.5;
  background: none;
  border: none;
  transition: opacity 0.2s ease;
}

.modal .close_modal:hover {
  opacity: 0.3;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
